services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend_network

  redis:
    image: redis:7
    restart: unless-stopped
    env_file:
      - .env
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - backend_network

  minio:
    image: minio/minio:latest
    env_file:
      - .env
    container_name: minio
    restart: unless-stopped
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # Web Console
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - backend_network

  processor:
    shm_size: 2gb
    build:
      context: .
      dockerfile: docker/Dockerfile.processor
    env_file:
      - .env
    volumes:
      - ./services/processor:/app/services/processor
      - processor_sqlite:/app/instance
    depends_on:
      redis:
        condition: service_started
      minio:
        condition: service_started
    environment:
      REDIS_URL: redis://:${REDIS_PASSWORD}@redis:6379/0
      MINIO_URL: http://minio:9000
    networks:
      - backend_network

  web:
    build:
      dockerfile: docker/Dockerfile.web
    env_file:
      - .env
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./services/web:/app/services/web
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_started
      minio:
        condition: service_started
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      REDIS_URL: redis://:${REDIS_PASSWORD}@redis:6379/0
      MINIO_URL: http://minio:9000
    networks:
      - backend_network

volumes:
  postgres_data:
  redis_data:
  minio_data:
  processor_sqlite:

networks:
  backend_network:
    driver: bridge
