[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
dependency-injector = "*"
minio = "*"
netcdf4 = "*"
django = "5.2.6"
django-rq = "3.1"

[dev-packages]
ruff = "*"
isort = "*"
bandit = "*"
django-stubs = "5.2.5"

[requires]
python_version = "3.11"
