[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"
dependency-injector = "*"
paramiko = "*"
f90nml = "*"

[dev-packages]
ruff = "*"
isort = "*"
bandit = "*"
pytest = "*"

[requires]
python_version = "3.11"
