[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
dependency-injector = "*"
minio = "*"
netcdf4 = "*"
django = "5.2.6"
django-rq = "3.1"
dj-database-url = "3.0.1"

[dev-packages]
django-stubs = "5.2.5"
ruff = "0.14.0"
isort = "6.1.0"
bandit = "1.8.6"

[requires]
python_version = "3.11"
