{% macro render_field(field) %}
<div class="mb-3">
  <dt>
    {{ field.label(class="form-label") }} {{ field(class="form-control") }}
  </dt>
  {% if field.errors %}
  <dd>
    {% for error in field.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </dd>
  {% endif %}
</div>
{% endmacro %}

<form id="#dataForm" action="{{ url_for('form.send') }}" method="POST">
  {{ form.hidden_tag() }}

  <div class="modal-body">
    <dl>
      {{ render_field(form.year) }} {{ render_field(form.fuel) }} {{
      render_field(form.subcategory) }}
    </dl>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancelar
    </button>
    {{ form.submit(class="btn btn-primary", id="saveData") }}
  </div>
</form>
