body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content:center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  padding: 0;
}

.container {
  position: absolute;
  width: 90%;
  max-width: 600px;
  min-height: 300px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

h1 {
  text-align: center;
  color: #333;
}

.vehicle {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
}

@media (max-height: 280px) {
  .container {
    height: 100%;
  }
  .vehicle {
    display: none;
  }
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #0056b3;
}
