body {
  background-color: #f8f9fa;
}
.table-actions button {
  margin-right: 5px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    height: auto;
  }
  to {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

.fade-out {
  animation: fadeOut 0.5s forwards;
  border: none;
}

tr.fade-out td {
  border: none;
  margin: 0;
}
