body,
html {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}
#form-container,
#data-container {
  flex: 1;
  max-width: 600px;
  max-height: 90%;
  min-height: 300px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#form-container {
  display: flex;
  flex-direction: column;
}
#data-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 400px;
  height: 240px;
  margin: 0 auto;
  overflow-x: auto;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}
thead,
tbody,
tr {
    display: contents;
}
tbody {
  white-space: nowrap;
}
/* styling like the bootstrap striped table */
td,
th {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
table tr:nth-child(odd) td {
  background-color: #f2f2f2;
  color: #000;
}
@media (max-width: 480px) {
  #form-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  #data-container {
    display: none;
  }
}
h1 {
  text-align: center;
  color: #333;
}
.vehicle {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
}
@media (max-height: 280px) {
  #form-container {
    justify-content: center;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  h1,
  form .btn {
    display: none;
  }
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
.btn:hover {
  background-color: #0056b3;
}
