{% from "vehicular_inventory/form_body_macro.html" import render_form_body %} {%
for vehicle in emission_data %}
<!-- Modal to edit data -->
<div
  class="modal fade"
  id="editModal{{ vehicle.id }}"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel{{ vehicle.id }}">
          Editar Veículo
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form
        id="editForm{{ vehicle.id }}"
        action="{{ url_for('vehicular_inventory.render_inventory_page') }}"
        method="GET"
      >
        {{ render_form_body(form) }}
      </form>
    </div>
  </div>
</div>
{% endfor %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ano</th>
      <th scope="col">Combustível</th>
      <th scope="col">Categoria</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>

  {% set fuel_translations = { 'Gasoline': 'Gasolina', 'Alcohol': 'Álcool',
  'Diesel': 'Diesel', 'Electric': 'Elétrico', 'Flex': 'Flex' } %}

  <tbody id="data-table">
    {% for vehicle in emission_data %}
    <tr>
      <td class="align-middle">{{ vehicle.id }}</td>
      <td class="align-middle">{{ vehicle.year }}</td>
      <td class="align-middle">{{ fuel_translations[vehicle.fuel] }}</td>
      <td class="align-middle">{{ vehicle.subcategory.name }}</td>
      <td class="align-middle">
        <span
          class="d-inline-block badge bg-danger badge-transition"
          data-status="not-processed"
        ></span>
      </td>
      <td class="table-actions align-middle">
        <button
          class="btn btn-info btn-sm"
          id="edit-data"
          data-bs-toggle="modal"
          data-bs-target="#editModal{{ vehicle.id }}"
        >
          <i class="bi bi-pencil"></i>
          <span class="d-none d-sm-inline">Editar</span>
        </button>

        <form
          method="POST"
          action="{{ url_for('vehicular_inventory.delete_vehicle_emission', emission_id=vehicle.id) }}"
          class="d-inline delete-form"
        >
          {{ form.hidden_tag() }}

          <button type="submit" class="btn btn-danger btn-sm">
            <i class="bi bi-trash"></i>
            <span class="d-none d-sm-inline">Excluir</span>
          </button>
        </form>

        <form
          method="POST"
          action="{{ url_for('emission_round.schedule_emission_round', emission_id=vehicle.id) }}"
          class="d-inline"
        >
          {{ form.hidden_tag() }}

          <button class="process-button btn btn-secondary btn-sm">
            <i class="bi bi-gear"></i>
            <span class="d-none d-sm-inline">Processar</span>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
