{% from "vehicular_inventory/form_body_macro.html" import render_form_body %}

<!-- Modal to add data -->
<div
  class="modal fade"
  id="dataModal"
  tabindex="-1"
  aria-labelledby="dataModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataModalLabel">Adicionar Veículo</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        id="#dataForm"
        action="{{ url_for('wrf_standard.add_vehicle_emission') }}"
        method="POST"
      >
        {{ render_form_body(form) }}
      </form>
    </div>
  </div>
</div>
